*{
    padding: 0;
    margin: 0;
}
ol, ul{
    list-style: none;
    padding: 10px;
}
table{
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5%;
}
th{
    padding: 10px;
}
td{
    padding: 10px;
}
a{
    color: gray;
    text-decoration:none;
}
body{
    background-color: #dfdfea;
}
h1{
    font-size: 60px;
    color: #8fb6a2;
}
h2{
    font-size: 40px;
    color: #5d482f;
}
h3{
    color: #243866;
}